/*=========================
SCENE
=========================*/

.guardian-story{

position:relative;

width:100%;

height:100vh;

overflow:hidden;

background:linear-gradient(
180deg,
#d9f3ff,
#ffffff
);

}


/*=========================
BACKGROUND GLOW
=========================*/

.bg-glow{

position:absolute;

width:900px;

height:900px;

border-radius:50%;

background:

radial-gradient(

rgba(37,99,235,.12),

transparent 70%

);

right:-200px;

top:-300px;

animation:glowMove 8s ease-in-out infinite;

}

@keyframes glowMove{

50%{

transform:scale(1.2);

}

}


/*=========================
SUN
=========================*/

.sun{

position:absolute;

top:80px;

right:120px;

width:120px;

height:120px;

border-radius:50%;

background:#FFD95A;

box-shadow:

0 0 90px

rgba(255,217,90,.9);

}


/*=========================
CLOUD
=========================*/

.cloud{

position:absolute;

width:180px;

height:60px;

background:white;

border-radius:100px;

opacity:.9;

}

.cloud::before{

content:"";

position:absolute;

width:80px;

height:80px;

border-radius:50%;

background:white;

left:20px;

top:-30px;

}

.cloud::after{

content:"";

position:absolute;

width:90px;

height:90px;

border-radius:50%;

background:white;

right:18px;

top:-40px;

}

.cloud1{

top:80px;

left:-200px;

animation:cloudMove 35s linear infinite;

}

.cloud2{

top:170px;

left:-500px;

animation:cloudMove 45s linear infinite;

}

.cloud3{

top:120px;

left:-900px;

animation:cloudMove 55s linear infinite;

}

@keyframes cloudMove{

to{

transform:translateX(2200px);

}

}


/*=========================
CITY
=========================*/

.city{

position:absolute;

bottom:220px;

width:100%;

display:flex;

justify-content:center;

align-items:flex-end;

gap:25px;

}

.building{

background:linear-gradient(

180deg,

#8DA6C5,

#5C7290

);

border-radius:15px 15px 0 0;

position:relative;

overflow:hidden;

box-shadow:

0 10px 30px rgba(0,0,0,.18);

}

.building::before{

content:"";

position:absolute;

inset:18px;

background:

repeating-linear-gradient(

90deg,

rgba(255,255,255,.25) 0 8px,

transparent 8px 18px

),

repeating-linear-gradient(

180deg,

rgba(255,255,255,.25) 0 10px,

transparent 10px 20px

);

}

.b1{

width:120px;

height:320px;

}

.b2{

width:90px;

height:240px;

}

.b3{

width:130px;

height:350px;

}

.b4{

width:80px;

height:210px;

}

.b5{

width:110px;

height:280px;

}

.b6{

width:90px;

height:260px;

}


/*=========================
TREES
=========================*/

.trees{

position:absolute;

bottom:180px;

width:100%;

display:flex;

justify-content:space-around;

}

.tree{

width:70px;

height:70px;

border-radius:50%;

background:#35C66A;

position:relative;

animation:treeMove 3s ease-in-out infinite;

}

.tree::after{

content:"";

position:absolute;

bottom:-35px;

left:30px;

width:10px;

height:40px;

background:#6C4B2D;

}

@keyframes treeMove{

50%{

transform:rotate(3deg);

}

}


/*=========================
LIGHTS
=========================*/

.lights{

position:absolute;

bottom:185px;

width:100%;

display:flex;

justify-content:space-evenly;

}

.light{

position:relative;

width:5px;

height:90px;

background:#444;

}

.light::before{

content:"";

position:absolute;

top:-12px;

left:-6px;

width:18px;

height:18px;

border-radius:50%;

background:#FFE15D;

box-shadow:

0 0 20px #FFE15D;

animation:lampGlow 2s infinite;

}

@keyframes lampGlow{

50%{

box-shadow:

0 0 40px #FFE15D;

}

}


/*=========================
ROAD
=========================*/

.road{

position:absolute;

bottom:0;

width:100%;

height:240px;

background:linear-gradient(

180deg,

#444A55,

#252A33

);

clip-path:polygon(

15% 0,

85% 0,

100% 100%,

0 100%

);

overflow:hidden;

}

.road-shadow{

position:absolute;

inset:0;

background:linear-gradient(

180deg,

transparent,

rgba(0,0,0,.3)

);

}

.center-lines{

position:absolute;

left:50%;

transform:translateX(-50%);

width:12px;

height:100%;

overflow:hidden;

}

.center-lines span{

display:block;

width:100%;

height:80px;

background:white;

margin-bottom:60px;

animation:roadMove 1.2s linear infinite;

}

@keyframes roadMove{

from{

transform:translateY(-140px);

}

to{

transform:translateY(260px);

}

}p

/*==========================
WALKER
===========================*/

.walker-container{

position:absolute;

bottom:120px;

left:-200px;

display:flex;

align-items:center;

gap:25px;

animation:userWalk 18s linear forwards;

z-index:100;

}

@keyframes userWalk{

0%{

transform:translateX(0);

}

100%{

transform:translateX(1700px);

}

}

/*==========================
PHONE
===========================*/
.phone{

position:absolute;

right:-10px;

top:70px;

width:38px;

height:70px;

}
.phone-screen{

width:100%;

height:100%;

border-radius:9px;

background:linear-gradient(

180deg,

#2F80ED,

#111827

);

}

@keyframes phoneFloat{

50%{

transform:translateY(-8px);

}

}

/*==========================
HEAD
===========================*/

.head{

width:34px;

height:34px;

background:#F6C58D;

border-radius:50%;

margin:auto;

position:relative;

}

.hair{

position:absolute;

top:0;

left:0;

width:34px;

height:16px;

background:#222;

border-radius:20px 20px 6px 6px;

}

/*==========================
NECK
===========================*/

.neck{

width:10px;

height:8px;

background:#F6C58D;

margin:auto;

}

/*==========================
BODY
===========================*/

.body{

width:42px;

height:68px;

background:#2563EB;

border-radius:10px;

margin:auto;

position:relative;

}

/*==========================
BAG
===========================*/

.bag{

position:absolute;

width:18px;

height:40px;

background:#333;

left:30px;

top:58px;

border-radius:6px;

}

/*==========================
ARMS
===========================*/

.arm{

position:absolute;

width:10px;

height:55px;

background:#F6C58D;

top:48px;

border-radius:20px;

transform-origin:top;

}

.left-arm{

left:18px;

animation:leftArm .7s infinite alternate;

}

.right-arm{

right:18px;

animation:rightArm .7s infinite alternate;

}

@keyframes leftArm{

from{

transform:rotate(30deg);

}

to{

transform:rotate(-30deg);

}

}

@keyframes rightArm{

from{

transform:rotate(-30deg);

}

to{

transform:rotate(30deg);

}

}

/*==========================
LEGS
===========================*/

.leg{

position:absolute;

width:12px;

height:62px;

background:#222;

top:110px;

border-radius:20px;

transform-origin:top;

}

.left-leg{

left:22px;

animation:leftLeg .7s infinite alternate;

}

.right-leg{

right:22px;

animation:rightLeg .7s infinite alternate;

}

@keyframes leftLeg{

from{

transform:rotate(-25deg);

}

to{

transform:rotate(25deg);

}

}

@keyframes rightLeg{

from{

transform:rotate(25deg);

}

to{

transform:rotate(-25deg);

}

}

/*==========================
SHOES
===========================*/

.shoe{

position:absolute;

width:20px;

height:8px;

background:#111;

border-radius:10px;

top:170px;

}

.left-shoe{

left:16px;

}

.right-shoe{

right:16px;

}

/*==========================
SHADOW
===========================*/

.shadow{

position:absolute;

bottom:-8px;

left:50px;

width:55px;

height:10px;

background:rgba(0,0,0,.2);

border-radius:50%;

filter:blur(2px);

animation:shadowMove .7s infinite alternate;

}

@keyframes shadowMove{

50%{

transform:scale(.9);

}

}

.walker-container{

position:absolute;

bottom:95px;

left:-220px;

animation:userWalk 18s linear forwards;

z-index:50;

}

.walker{

width:180px;

height:auto;

filter:
drop-shadow(
0 20px 30px rgba(0,0,0,.2)
);

}

@keyframes userWalk{

0%{

transform:translateX(0);

}

100%{

transform:translateX(1800px);

}

}
